{% extends 'base.html' %}
{% block template %}
<div class="container mt-4">
    <h1 class="mb-4">{{ propiedad.nombre }}</h1>

    <div class="row">
        <!-- Mostrar todas las imágenes de la propiedad -->
        <div class="col-md-8">
            {% if propiedad.propiedadesimagenes_set.all %}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for imagen in propiedad.propiedadesimagenes_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ imagen.pi_url }}" class="d-block w-100 img-fluid" alt="Imagen de {{ propiedad.nombre }}" style="height: 400px; object-fit: cover;">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </div>
            {% else %}
                <img src="ruta/a/imagen_default.jpg" class="img-fluid" alt="Imagen no disponible" style="height: 400px; object-fit: cover;">
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>Detalles</h3>
            <p><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
            <p><strong>Precio mensual:</strong> ${{ propiedad.precio_mensual }}</p>
            <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
            <p><strong>Superficie Construida:</strong> {{ propiedad.m2_construidos }} m²</p>
            <p><strong>Superficie Total:</strong> {{ propiedad.m2_totales }} m²</p>
            <p><strong>Estacionamientos:</strong> {{ propiedad.cantidad_estacionamientos }}</p>
            <p><strong>Habitaciones:</strong> {{ propiedad.cantidad_habitaciones }}</p>
            <p><strong>Baños:</strong> {{ propiedad.cantidad_banos }}</p>
            <p><strong>Tipo de Inmueble:</strong> {{ propiedad.tipo_inmueble }}</p>
            <p><strong>Comuna:</strong> {{ propiedad.comuna.nombre }}</p>
            <p><strong>Arrendador:</strong> {{ propiedad.arrendador.nombres }} {{ propiedad.arrendador.apellidos }}</p>
        </div>
    </div>
</div>
{% endblock %}
