
{% extends 'base.html' %}
{% block template %}
<h1>Editar Propiedad</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h3>Imágenes</h3>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="form-group">
            {{ form.as_p }}
            {% if form.instance.pk %}
                <div>
                    <img src="{{ form.instance.pi_url }}" alt="Imagen" style="max-width: 200px;">
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
{% endblock %}
