
{% extends 'base.html' %}
{% block template %}
    <h1>Tu Perfil</h1>
    <p><strong>Nombre:</strong> {{ usuario.nombres }} </p>
    <p><strong>Apellido:</strong> {{ usuario.apellidos }}</p>
    <p><strong>Email:</strong> {{ usuario.correo_electronico }}</p>
    <p><strong>Tipo de usuario:</strong> {{ usuario.tu.tu_nombre }}</p>

    {% if usuario.tu.tu_id == 2 %}
            <a class="nav-link" href="{% url 'propiedades_arrendador' %}">Mis Propiedades</a>
            {%else%}
            
            <a>Ver Propiedades Disponibles</a>
    {% endif %}


    <a href="{% url 'logout' %}">Desconectarse</a>
{% endblock %}}
