{% extends 'base.html' %}
{% load static %}
{% block template %}
<div class="container">
    <h1 class="my-4 text-center">Lista de Propiedades</h1>

    <form method="get" class="mb-4">
        <div class="form-group">
            <label for="region">Filtrar por Región</label>
            <select name="region" id="region" class="form-control">
                <option value="">Selecciona una Región</option>
                {% for region in regiones %}
                    <option value="{{ region.id }}" {% if request.GET.region == region.id|stringformat:"s" %}selected{% endif %}>{{ region.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="comuna">Filtrar por Comuna</label>
            <select name="comuna" id="comuna" class="form-control">
                <option value="">Selecciona una Comuna</option>
                {% for comuna in comunas %}
                    <option value="{{ comuna.id }}" {% if request.GET.comuna == comuna.id|stringformat:"s" %}selected{% endif %}>{{ comuna.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
    </form>

    <div class="row">
        {% for propiedad in propiedades %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if propiedad.propiedadesimagenes_set.first %}
                        <img src="{{ propiedad.propiedadesimagenes_set.first.pi_url }}" class="card-img-top img-fluid" alt="{{ propiedad.nombre }}" style="object-fit: cover; height: 200px;">
                    {% else %}
                        <div style="width: 100%; height: 200px; display: flex; justify-content: center; align-items: center;">
                            <img src="{% static 'images/imagen_default.jpg' %}" alt="No Image Available" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ propiedad.nombre }}</h5>
                        <p class="card-text"><strong>Comuna:</strong> {{ propiedad.comuna }}</p>
                        <p class="card-text"><strong>Precio Mensual:</strong> ${{ propiedad.precio_mensual }}</p>

                        <a href="{% url 'detalle_propiedad' propiedad.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No hay propiedades disponibles en este momento.
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
