.img-fixed-size {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: 200px; /* Ajusta la altura deseada */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}

.img-carousel {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
    height: 400px;     /* Ajusta la altura según sea necesario */
    width: 100%;       /* La imagen ocupa todo el ancho del contenedor */
}