{% extends 'base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
<h2>Registrar Usuario</h2>
<form method="post">
    {% csrf_token %}
    {{ form.nombres.label_tag }} {{ form.nombres }}
    {{ form.apellidos.label_tag }} {{ form.apellidos }}
    {{ form.rut.label_tag }} {{ form.rut }}
    {{ form.direccion.label_tag }} {{ form.direccion }}
    {{ form.telefono_personal.label_tag }} {{ form.telefono_personal }}
    {{ form.correo_electronico.label_tag }} {{ form.correo_electronico }}
    {{ form.tipo_usuario.label_tag }} {{ form.tipo_usuario }}
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
{% endblock %}
